body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
.container{
    display: flex;
    padding: 50px 120px;
    margin: 0 auto;
}
/* header start here */ 
.half-width{
    width: 100%;
    margin: 10px 10px;
    padding: 10px 40px;
    
}
.vline{
    /*
    margin-left: 0px;*/
    height: 145px;
    border-left: 4px solid #FF5959;
}
.header-heading{
    font-family: 'Yeseva One', cursive;
    font-size: 55px;
    margin-left: 10px;
    padding-left: 5px;
    line-height: 80px;
}
.heading-span{
    color: #FFAD5A;
    
}
.explore-button{
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
.half-width img{
    width: 50%;
    margin-left: 40%;
}
/* Mission start here*/
.head{
    text-align: center;
    margin-top: 0;
    margin-bottom: px;
    font-size: 40px;
}

#mission{
    background: rgba(79, 157, 166, 0.1);
    border-radius: 25px;
    margin: 40px 40px;
    padding: 30px 30px;
}
#vission{
    background: rgba(255, 89, 89, 0.1);
    border-radius: 25px;
    margin: 40px 40px;
    padding: 30px 30px;
}
#goals{
    background: #FFF4D6;
    border-radius: 25px;
    margin: 40px 40px;
    padding: 30px 30px;
}
.head span{
    color: orange;
}
#left-img{
    width: 50%;
    margin-left: 1%;
    border-radius: 10px;
}
/* Footer start Here */

.footer{
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
    height: 200px;
    font-size: 25px;
    line-height: 40px;
    font-family: lobster;

}
.footer h1 span{
    color: tomato;
}
.footer p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: gray;
    line-height: 24px;
}

/*Footer End */
